@use 'base';

.page-header {
  background-color: base.$themeColour2;
  margin-top: 2%;
  margin-left: 2%; 
  width: 30%;
  float: left;
  position: fixed;
  border-radius: 10%;
}

nav {
  background-color: base.$themeColour1;
  
  span {
    font-size: 50px;
  }

  div {
    span {
      font-size: 25px;
    }

    .fa-angles-down {
      color: base.$themeColour2;
    }
  }
  

}

.tweet-spot {
  margin-top: 2%;
  width: 66.7%;
  float: right;
}

.new-tweet {
  width: 66.7%;
  float: right;
}

.container {
  margin-top: 120px;
  width: 95%;
} 