.new-tweet {
  display: none;
  margin-top: 2%
}

form>div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

textarea {
  background-color: #f4f1ec;
  border: 0px;
  border-bottom: 5px solid #545149;
  color: #545149;
  font-weight: bold;
}

form>div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
  margin-top: 0.5em;
}

button {
  background-color: #4056A1;
  color: white;
  border-radius: 10px;
}

button:hover {
  background-color: #6e83c7;
  cursor: pointer;
}

.errors {
  border: firebrick 4px solid;
  background-color: #f4f1ec;
  color: firebrick;
  display: none;
  margin: 30px 0;
  justify-content: space-around;
  padding: 10px;
}