.page-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 120px;
  height: 400px;
  color: white;
  background-color: slategray;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}