.page-header {
  background-color: firebrick;
  margin-top: 2%;
  margin-left: 2%;
  width: 30%;
  float: left;
  position: fixed;
  border-radius: 10%;
}

nav {
  background-color: #4056A1;
}
nav span {
  font-size: 50px;
}
nav div span {
  font-size: 25px;
}
nav div .fa-angles-down {
  color: firebrick;
}

.tweet-spot {
  margin-top: 2%;
  width: 66.7%;
  float: right;
}

.new-tweet {
  width: 66.7%;
  float: right;
}

.container {
  margin-top: 120px;
  width: 95%;
}
