nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0;
}
nav span {
  font-family: "Bungee";
}
nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
nav div span {
  font-family: "Source Sans Pro", sans-serif;
}
nav div .fa-angles-down {
  color: firebrick;
}

/* ------------- ANIMATION ------------- */
.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.75s infinite linear;
  -o-animation: bounce 0.75s infinite linear;
  -webkit-animation: bounce 0.75s infinite linear;
  animation: bounce 0.75s infinite linear;
}
@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-ms-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
