.tweet-spot {
  margin-top: 15px;
}

hr {
  margin: 2em;
  font-size: 25%;
  border: 0px;
  border-bottom: 5px solid #545149;
}

.tweet-head>div:nth-child(2) {
  color: #aaa69a
}

article {
  border: 3px solid;
  border-radius: 15px;
  margin-bottom: 15px;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

header>div {
  display: flex;
  align-items: center;
}

footer>div {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 5px 10px;
  align-items: center;
  font-size: medium;
}

header>div>i {
  padding-left: 10px;
}

footer>div>div {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
  font-size: x-large;
  color: #4056A1;
}

p {
  margin: 5px;
  padding: 10px;
  word-wrap: break-word
}

.likes {
  font-size: x-small;
  align-self: flex-start;
}

footer {
  padding-bottom: 10px;
}

article:hover {
  box-shadow: 5px 5px #26241e;
}

.fa-flag:hover {
  color: goldenrod;
}

.fa-retweet:hover {
  color: goldenrod;
}

.fa-heart:hover {
  color: goldenrod;
}